#General:

*~
*.bak
*.o
*.a
*.user

#PSoC:

*.cycdx
*.cyfit
*.rpt
*.svd
*.lst

#Very specific:

amp_6ch_0_1.cydsn/CortexM3/
amp_6ch_0_1.cydsn/codegentemp/
amp_6ch_0_1.cydsn/Generated_Source/
Backup/
amp_6ch_0_1.cydsn/amp_6ch_0_1_timing.html
amp_6ch_0_1.cydsn/amp_6ch_0_1.cyprj.Luke
amp_6ch_0_1.cydsn/Export/PSoCCreatorExportIDE.xml
amp_6ch_0_1.cydsn/amp_6ch_0_1.svd
amp_6ch_0_1.cydsn/amp_6ch_0_1.rpt
amp_6ch_0_1.cydsn/amp_6ch_0_1.cyfit
amp_6ch_0_1.cydsn/amp_6ch_0_1.cycdx
amp_6ch_0_1.cydsn/amp_6ch_0_1.cyprj.JF
amp_6ch_0_1.cydsn/amp_6ch_0_1-000.cywrk.JF
